<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xzone.studyexecutorservice">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:permission=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity"/>
        <activity
            android:name=".A"
            android:launchMode="singleTask"
            android:taskAffinity=".dfd"
            />
        <activity
            android:name=".B"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".C"
            android:launchMode="standard"
            />
        <activity
            android:name=".StudyBinderActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".MyService"/>
        <service android:name=".LocalService"/>
        <service
            android:name=".RemoteService"
            android:process=":remote"/>
        <service android:name=".GoService"/>

        <activity android:name=".OkHttpAcitivty"/>
        <activity android:name=".StudyWindowAct"/>
        <activity android:name=".DataBindAct"/>
        <activity android:name=".StudyNotify"/>
        <activity android:name=".TestLeafAct"/>
        <activity android:name=".StudyDragger2Act"/>
        <activity android:name=".StudyReflectAct"/>
        <activity android:name=".StudyOkHttp"/>
        <activity
            android:name=".StudyGenericityActivity"/>
        <activity android:name=".StudyCanvasActivity"/>
        <activity android:name=".GlideAct"/>
        <meta-data
            android:name="com.xzone.studyexecutorservice.MyGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>